<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="navbar-container">
    <!-- Logo -->
    <a routerLink="/" class="navbar-logo">
      <img src="assets/images/Ticksi_no_slogan-removebg_5.png" alt="Ticksi" class="logo-image" />
    </a>

    <!-- Auth -->
    <div class="navbar-auth">

  @if (authService.getUserRole() === 'Admin' || authService.getUserRole() === 'Organizer') {
  <a routerLink="/admin/categories" class="nav-link">Your categories</a>
}

  <a routerLink="/categories" class="nav-link">Categories</a>


  @if (authService.isAuthenticated()) {
    <span class="user-name">{{ authService.getCurrentUser()?.firstName }}</span>
    <button class="btn-logout" (click)="logout()">Log out</button>
  } @else {
    <a routerLink="/login" class="btn-login">Log in</a>
    <a routerLink="/register" class="btn-register">Register</a>
  }

</div>

  </div>
</nav>

